<div id='aboutUs'>
  <div class="container gBox">
    <img src="assets/img/team.jpg" class="col-md-4 no-padding-left img-responsive" alt="GingerClub" />
    <div class="col-md-8 noPadding">
      <h4 class="text-center" style="color:#ABCA4E; margin-top: 0;">About - GingerClub</h4>
      <p>Incorporated in 2012, Ginger Club started its operations in Wathnan Mall, Al Rayyan, under the able leadership of Mr.
        Shajeer P K. Sheer Passion to bring the original and authentic eastern food to the other parts of the world is the
        motive behind the concept which was named as "Ginger Club". With our delicious food and cordial hospitality, we continue
        to set new industry standards.</p>
      <p>Ginger Club is the destination for Asian cuisine offers a unique menu that's as diverse as the countries the dishes
        originate in. Pick from a range of tantalizing soups, and steaming dumplings to begin your dining experience. Continue
        your culinary journey into the Far East with Chinese and Thai to north-east Indian food.</p>
      <p>The company's expansion map has an aggressive strategic roll out plan, which aims to initiate many more Restaurants
        in Qatar. By offering a wide range of options for dining-be it a value for money destination or fine dining restaurant.
        We have plans to consider centralized storage units to improve operations and costs efficiencies, building a back-end
        support system. Our primary focus will be developing and propagating the brand and maintaining service quality. Based
        on feedback from our customer's we are opening another branch of GingerClubDoha in Pearl Qatar. The Fine dining restaurant
        is overlooking the Pearl Qatar. We look forward in servicing our esteemed customers with same passion and quality.</p>
    </div>
    <div class="col-md-12 noPadding info text-center">
      <div class="col-md-3 no-padding-left">
        <i class="fa fa-map fa-2x" aria-hidden="true"></i>
        <span>2 Locations in Qatar</span>
      </div>
      <div class="col-md-3 no-padding-left">
        <i class="fa fa-spoon fa-2x" aria-hidden="true"></i>
        <span>Thai & Chinese Cuisine</span>
      </div>
      <div class="col-md-3 no-padding-left">
        <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
        <span id="parking">Mon-Sun 11:00 - 23:00</span>
      </div>
      <div class="col-md-3 no-padding-left">
        <i class="fa fa-car fa-2x" aria-hidden="true"></i>
        <span id="parking">Parking - Yes</span>
      </div>
    </div>
  </div>
</div>