<div class="topHeader hidden-xs hidden-sm">
  <div class="container">
    <ol class="col-md-6 breadcrumb">
      <li>
        <a routerLink="/home">
          <i class="fa fa-home fa-lg" aria-hidden="true"></i>
        </a>
      </li>
      <li class="active">Home</li>
    </ol>
    <!-- <div class="myAccount text-center col-md-4">
    <ul class="hidden">
      <li class="userName"></li>
      <li>
        <a href="#" class="userAccount">
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#" class="logout">
          <i class="fa fa-power-off" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div> -->
    <ul class="col-md-6 social text-right list-inline">
      <li>
        <a href="https://www.facebook.com/gingerclubdoha/" target="_blank">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a class="phone" href="tel:+97455617327">
          <i class="fa fa-whatsapp" aria-hidden="true"></i> +974 5561 7327</a>
      </li>
    </ul>
  </div>
</div>