<div id="contactUs">
  <div class="container">
    <div class="contact col-md-12 gBox margin-bottom">
      <div class="margin-bottom col-md-12 noPadding">
        <div class="col-md-5 no-padding-left">
          <h5 class="heading">Ginger Club Doha Al Rayyan</h5>
          <h5>
            <a href="https://goo.gl/maps/CgWVdCdGXDL2" target="_blank">Get Direction</a>
          </h5>
          <p>Wathnan Mall, Muaither N St</p>
          <p>Al Rayyan Qatar</p>
          <p>P.O. Box: 24882</p>
        </div>
        <iframe class="hidden-xs hidden-sm col-md-7 noPadding" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.055654531224!2d51.42149971501768!3d25.268713183862918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45d9825ac775cf%3A0xdbc96c7b05bb2397!2sGinger+Club!5e0!3m2!1sen!2sin!4v1503220892931"
          height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="margin-bottom col-md-12 noPadding">
        <div class="col-md-5 no-padding-left">
          <h5 class="heading">Ginger Club Pearl Qatar
            <span class="blink">(OPENING SOON)</span>
          </h5>
          <h5>
            <a href="https://goo.gl/maps/bPVafwuR3Sz" target="_blank">Get Direction</a>
          </h5>
          <p>No.115, Qanat Quarter,</p>
          <p>Near Dominos Pizza,</p>
          <p>Pearl Qatar</p>
        </div>
        <iframe class="hidden-xs hidden-sm col-md-7 noPadding" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d225.30368125588268!2d51.5435797!3d25.376045!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c310f343d21b%3A0xe18c7c70783c5ceb!2sGingerClub+Pearl+Qatar!5e0!3m2!1sen!2s!4v1503674408566"
          height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-12 contactInfo text-center">
        <h5>
          <a href="tel:+97455617327">
            <i class="fa fa-lg fa-phone-square" aria-hidden="true"></i> +974 5561 7327</a>
        </h5>
        <h5>
          <a href="mailto:gingerclubdoha@gmail.com">
            <i class="fa fa-lg fa-envelope" aria-hidden="true"></i> gingerclubdoha@gmail.com</a>
        </h5>
      </div>
    </div>
  </div>
</div>